.content{
    display: flex;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}
#instructions, #rodape{
    height: 30px;
    margin: 20px 5px;
    padding: 0px 8px;
}